.header1{
	height: 3.333333rem;
	line-height: 3.333333rem;
	color: #29b078;
	font-size: 1.166667rem;
}
.wqs{
    width:40%;
	text-align: right;
    padding-right: 15px;
    img{
        vertical-align: middle;
    }
}
.pnb{
    width:60%;
    padding-left:15px;
}


.header3{
    margin:auto;
    height:7rem;
    background-color: #29b078;
}
.navigation{
    position:relative;
    z-index: 9999;
    max-width:1170px;
    margin:auto;
}
.header3-img{
    display:none;
    vertical-align:middle;
    padding-left:15px;
    padding-top:15px;
}
.dropdown-img{
    display:none;
    padding-right:15px;
    padding-top:25px;
}

.dropdown-menu>li{
    display:inline-block;
    height:7rem;
    line-height:7rem;
    padding:0 2rem;
    box-sizing:border-box;
    border-bottom: solid 2px #29b078;
    text-align: center;
    a{
        display:inline-block;
        color:white;
        font-size:1.5rem;
    }
    &:hover{
        border-bottom: solid 2px white;
    }
}
.dropdown-menu{
    display:none;
}
@media screen and (min-width:768px){
    .dropdown-menu{
        display:block;
        float:right;
    }
}
@media screen and (max-width:767px){
    .header3-img{
        display:inline-block;
    }
    .dropdown-menu{
        display:none;
        position:absolute;
        background-color:#29b078;
        width:100vw;
        right:0;
        margin-top:-4px;
    }
    .dropdown-img{
        display:inline-block;
    }
    .dropdown{
        display:inline-block;
        float:right;
        position:relative;
    }
    .dropdown:hover .dropdown-menu{
        display:block;
    }
    .dropdown-menu>li{
        display:block;
        a{
            width:4rem;
        }
    }
}