.header1{
	height: 3.333333rem;
	line-height: 3.333333rem;
	color: #29b078;
	font-size: 1.166667rem;
}
.wqs{
    width:40%;
	text-align: right;
    padding-right: 15px;
    img{
        vertical-align: middle;
    }
}
.pnb{
    width:60%;
    padding-left:15px;
}


.header3{
    margin:auto;
    background-color: #29b078;
}
.navigation{
    max-width:1170px;
    margin:auto;
}
.header3-img{
    display:inline-block;
    vertical-align:middle;
    padding-left:15px;
    padding-top:10px;
}
 .dropdown{
    
 }
.dropdown-img{
    display:none;
    padding-right:15px;
    padding-top:25px;
}

.dropdown-menu>li{
    display:inline-block;
    padding:2rem 2rem;
    box-sizing:border-box;
    border-bottom: solid 2px #29b078;
    text-align: center;
    a{
        display:inline-block;
        color:white;
        font-size:1.5rem;
    }
    &:hover{
        border-bottom: solid 2px white;
    }
}
.dropdown-menu{
    display:none;
}
@media screen and (min-width:768px){
    .dropdown-menu{
        display:block;
        float:right;
    }
}
@media screen and (max-width:767px){
    .clearbox{
        display:none;
    }
    .header3-img{
        display:inline-block;
        padding-bottom:10px;
    }
    .dropdown-menu{
        display:none;
        background-color:#29b078;
        width:100vw;
    }
    .dropdown-img{
        display:inline-block;
    }
    .dropdown{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        position:relative;
    }
    .dropdown-menu>li{
        display:block;
        width:100%;
        a{
            width:4rem;
        }
    }
}
    #dropdown-btn{
        display:none;
    }
    .btn-img{
        display:none;
        width:3rem;
        height:3rem;
        margin-right:15px;
        margin-top:25px;
        background-image:url(../images/001.png);
        background-repeat:no-repeat;
    }
    #dropdown-btn:checked~.dropdown-menu{
        display:block;
    }
@media screen and (max-width:767px){
    .btn-img{
        display:inline-block;
    }
}
.clearbox{
    clear:both;
}